[defaults]
inventory=inventory/hosts.ini
host_key_checking = False
remote_user=devops
roles_path=roles
collections_path=collections
[privilege_escalation]
become=True
become_method=sudo
become_user=root
become_ask_pass=False

